

/* TABS */

#tabs-content {
    padding:80px 0;
}

#tabs {
    padding-left:20px;
    border-bottom:1px solid #999;
}

.tab {
    display:inline-block;
    padding:1em 2em;
    font-size:0.8em;
    color:#fff;
    background-color:#667;
    border:1px solid #999;
    border-bottom:1px solid #000;
    cursor: pointer;
    margin-right:-6px;
    margin-bottom:-2px;
}

.tab.inactive {
    background-color:#000;
    border-bottom:1px solid #000;
}

.tab-container {
    padding:3em;
    background-color:#00000066;
    height:100%;
}


/*NewsFeed starts*/

#newsfeed{}

.post {
    margin-bottom:3em;
}

.post p {
    margin-left:27px;
    padding:0.5em 2em;
    border-left:2px solid #8dbef7;
    font-size:1.2em;
}

/*NewsFeed ends*/
/*Leader board starts */
#leaderboard{
}

.number-featured {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.placement {
    box-sizing: border-box;
    display:grid;
    grid-template-columns: auto auto auto;
    padding:10px 10px;
    width:50%;
}

.placement h1 {
    margin:50px;
    padding-bottom:10px;
    padding-top: 10px;
}

.placement h2 {
    text-align: right;
    position: relative;
    margin-right:5%;
    margin-top:60px;
}

.placement img{
    width:100px;
    height:100px;
    border-radius:100%;
    object-fit:cover;
    margin-top:25px;
}

.number-featured:nth-child(1) .placement {
    background-color:#294970;
}

.number-featured:nth-child(2) .placement {
    background-color:#315682;
}

.number-featured:nth-child(3) .placement {
    background-color:#0156be;
}

.number-featured:nth-child(4) .placement {
    background-color:#5390D9;
}

.number-featured:nth-child(5) .placement {
    background-color:#97bff0;
}

/*Leader board ends */

