#managefriends {
    display:grid;
<<<<<<< HEAD
    grid-template-columns: 2fr 1fr ;
    grid-gap: 30px;
    user-select:none;
=======
    grid-template-columns: 2fr 1fr;
    user-select:none;
    min-height:500px;
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
}

#managefriends > div {
    
}

#managefriends > .friend-requests {
    
}

<<<<<<< HEAD
#managefriends > div > div {
    border:1px solid #777;
=======
#managefriends > div {
    border:1px solid #999;
    background-color:#f0f2f7;
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
    padding:2px;
}

#managefriends > .friend-requests {
    background-color:#cdd0d8;
    padding:0;
}

#managefriends > .friends-grid > div {
    height:100%;
<<<<<<< HEAD
    background-color:#f0f2f7;
}
#managefriends > .friend-requests > div {
    margin-bottom:30px;
    min-height:50px;
    background-color:#f0f2f7;
=======
}
#managefriends > .friend-requests > div {
    margin-bottom:1px;
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
}

#managefriends ul {
    margin:0;
    padding:0;
    height:100%;
}

#managefriends ul li {
    display:block;
    padding:1em;
    margin-bottom:2px;
    background-color: #f0f2f7;
    border:1px solid #bbb;
}
#managefriends ul li:last-child {
    margin-bottom:0;
}

#managefriends > .friend-requests h4 {
<<<<<<< HEAD
    background-color:#315682;
=======
    background-color:#232429;
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
    padding:0.5em;
    color:#fff;
}

#managefriends > .friend-requests .user-pro img {
    width:40px;
    height:40px;
}

#managefriends > .friend-requests .user-pro h2 {
    font-size:1em;
}

#managefriends > .friend-requests ul li {
    padding:0.5em 0.75em;
}


#dragging-container {
    position:fixed;
    pointer-events:none;
<<<<<<< HEAD
=======
    z-index:1000;
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
}

#dragging-container > * {
    transform:translate(-50%,-50%);
}

#dragging-container li {
    display:block;
    min-width:350px;
    padding:1em;
    background-color: #315682;
    color: #f0f2f7;
    border:1px solid #bbb;
}


/* CONDITIONS */
#managefriends ul.friends-list li.played-with {
    opacity:0.5;
    background-color:#ccc;
}

#managefriends ul.friends-list li.played-with h2 {
    color:#888;
}
<<<<<<< HEAD
/*
#managefriends {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    user-select:none;
}
h2{
    margin:0;
}
.friends-grid{
    display: grid;
    grid-template-columns: 1fr;
    width:50%;
   grid-gap:20px;
    }
.friends-grid ul{margin:0;
padding: 0;}


.friends-grid ul li{
  display: grid;
    grid-template-columns:auto 1fr;
    background-color:#00e1ff; margin-bottom: 2px;
    padding: 10px;:aut
    }
.friends-grid ul li h2 {
    padding-left:30px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }

.friends-grid ul li img {
    margin-top:0;
}
.friends-grid h1{
    text-align: center;
   padding: 10px;
    margin: 0;
    }
.friends-grid h1{
    background-color:#00ffffc0 ;
}
   
.online-list ul li{
background-color:#5390D9 ;
    }  
   
.invited-list ul li{
   background-color:#48BFE3  ;
}


.friends-grid li img{
    width:50px;
    height:50px;
    border-radius:100%;
    object-fit:cover;
   }

 .drop-area{
 border:1px solid
}

#dragging-container{
    
}

#dragging-container li img{
   width:50px;
   height:50px;
   object-fit:cover;
}



#managefriends ul {margin:0;padding:0px;width:100%;}

      #online-lists {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap:20px;
      }

      #dragging-container .item {
        display:block;
        border:1px dotted  #666;
        background-color:lightskyblue; 
        padding:1em;
        margin:5px;
        user-select:none;

        display:grid;
        grid-template-columns:auto 1fr;
        width:300px;
            
    
      }
        #dragging-container {
            position:fixed;
            pointer-events:none;
           
        }
       
        #dragging-container > * {
            transform:translate(-50%,-50%);
        }
      
        @media only screen and (min-width:780px) {
            .friends-grid {
               grid-template-columns:1fr 1fr 1fr;
               width:100%;
            }
        }
*/
=======
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
