

/* TABS */

#tabs-content {
    padding:0px 0;
}

#tabs {
    padding-left:20px;
    border-bottom:1px solid #999;
}

.tab {
    display:inline-block;
    padding:1em 2em;
    font-size:0.8em;
    color:#fff;
    background-color:#667;
    border:1px solid #999;
    border-bottom:1px solid #000;
    cursor: pointer;
    margin-right:-6px;
    margin-bottom:-2px;
}

.tab.inactive {
    background-color:#000;
    border-bottom:1px solid #000;
}

.tab-container {
    padding:3em;
    height:100%;
}


/*NewsFeed starts*/

#newsfeed{
    min-height:300px;
    margin-bottom:2vh;
}

.post {
    margin-bottom:0em;
}

.post p {
    margin-left:27px;
    padding:0.5em 2em;
    border-left:2px solid #5c88bd;
    font-size:1.2em;
}

/*NewsFeed ends*/
/*Leader board starts */
#leaderboard{
}

.top-player-container {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.top-player-bar {
    box-sizing: border-box;
    display:grid;
    grid-template-columns: auto auto;
    padding:10px;
}

.top-player-bar .high-score h2 {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: right;
}

.top-player-container:nth-child(1) .top-player-bar {
    background-color:#12203b;
}

.top-player-container:nth-child(2) .top-player-bar {
    background-color:#315682;
}

.top-player-container:nth-child(3) .top-player-bar {
    background-color:#0156be;
}

.top-player-container:nth-child(4) .top-player-bar {
    background-color:#5390D9;
}

.top-player-container:nth-child(5) .top-player-bar {
    background-color:#97bff0;
}

/*Leader board ends */

/*Game Detail*/

#game-detail-block{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid #999;
    background-color:#f0f2f7;
}
#game-detail-block div img{
    width:100%;
    height:250px;
    object-fit:cover;
    
}

#game-detail-block >div:last-child{
    padding:2em;

}
#game-detail-block >div:first-child{
    background-color:#232429;
}

/*game preview more*/

#game-preview-more{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top:25px solid #fff;
    grid-gap:20px;
}

#game-preview-more div img{
    width:100%;
    height:100%

    
}

