

/* TABS */

#tabs-content {
    padding:0;
}

#tabs {
    border-bottom:1px solid #999;
}

.tab {
    display:inline-block;
    padding:1em 2em;
    font-size:0.9em;
    font-weight:600;
    color:#232429;
    background-color:#f0f2f7;
    border:1px solid #999;
    border-bottom:1px solid #000;
    cursor: pointer;
    margin-right:-6px;
    margin-bottom:-2px;
}

.tab:hover, .tab.inactive:hover {
    background-color:#315682;
    color:#f0f2f7;
}

.tab.inactive {
    background-color:#c7cbd6;
    color:#666;
    border-bottom:1px solid #999;
}

.tab-container {
    padding:3em 0;
    height:100%;
}


/*NewsFeed starts*/

#newsfeed{
<<<<<<< HEAD
    min-height:300px;
=======
>>>>>>> 2d8cb71b0e96f53654e2015bc2dabb6e424b6172
    margin-bottom:2vh;
}

.pointButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20%;
}

.pointButtonG {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pointButtonG > p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 0% 0% 0%;
}

.post {
    margin-bottom:3em;
}

.post > div > p {
    margin-left:27px;
    padding:0.5em 2em;
    border-left:2px solid #5c88bd;
    font-size:1.2em;
}

button {
    border:1px solid #999;
    border-radius:7px;
}

.reply-box > div > p {
    padding:1em 0em 1em 5em;
    
}

.reply-box > div + div {
    padding: 0em 0em 0em 5em;
}


/*NewsFeed ends*/
/*Leader board starts */

.top-player-container {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#cdd0d8;
}

.top-player-bar {
    box-sizing: border-box;
    display:grid;
    grid-template-columns: auto auto;
    padding:10px;
    background-color:#315682;
    margin-bottom:1px;
    min-width:40%;
}

.top-player-bar h3 {color:#f0f2f7;}

.top-player-bar .high-score h3 {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: right;
}

.top-player-container:nth-child(1) .top-player-bar {
    background-color:#5e8cc4;
}

.top-player-container:nth-child(2) .top-player-bar {
    background-color:#4c76aa;
}

.top-player-container:nth-child(3) .top-player-bar {
    background-color:#3c6494;
}


/*Leader board ends */

/* Game Details */

#game-details {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid #999;
}

#game-details > div:last-child {
    padding:1em 2em;
    background-color:#f0f2f7;
}

#game-details > div:first-child {
    background-color:#232429;
}

#game-details > div:first-child img {
    width:100%;
    height:300px;
    object-fit: cover;
}

#game-about img {
    width:100%;
    height:250px;
    object-fit: cover;
}

#game-about p {margin:2em 0;}

/* END -- Game Details */