/*GAME GRID STYLes*/
.game-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
}
.game-grid > div{
    background-color:#f0f2f7;
    border:1px solid #bec0c4;
}
.game-grid img{
    width:100%;
    height:200px;
    object-fit:cover;
}
.game-grid h4{
    padding:1em;
}
/*SLIDES*/
.slider .slider-main{
    display:grid;
    grid-template-columns:auto 1fr auto;
    grid-gap:20px;
}
.slider .slider-main i{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    font-size:2em;
    background-color:#fff7f7;
    padding:0.5em;
    border:1px solid #d6d6d6;

}

.slider .slider-preview{
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:auto;
}
.slider .slider-preview > div:first-child{
    grid-row:span 2;
}
.slider .slider-preview img{
    width:100%;
    height:100px;
    object-fit:cover;
}
.slider .slider-preview > div:first-child img{
    height:200px;
}
.slider .slider-pages{
    margin-top:10px;
    text-align:center;
}
.slider .slider-pages > div{
    width:12px;
    height:12px;
    background-color:#aaa;
    border-radius:100%;
    display:inline-block;
    margin:0px 5px;
    

}
.slider .slider-pages > div.active{
    background-color:#5c88bd;

}