.twoby {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twoby h1 {
    margin-bottom: .5em;
}

label {
    
}

input {
    height: 2em;
    width: 20em;
    margin-bottom: 1em;
    background-color:#f0f2f7;
    border: 1px solid #999;
}

[type="checkbox"] {
    cursor: pointer;
    height: auto;
    width: auto;
    vertical-align: top;
    display: inline-block;
}

[type="submit"] {
    background-color: #315682;
    border: 1px solid #999;
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0;
    cursor: pointer;
    color: #fff;
}

[type="submit"]:hover {
    background-color:#1e2f63;
}