h1 {
    font-size: 3em;
    font-weight: 500;
}

p {
    font-size: 1.5em;
    line-height: 0.2em;
}

img {
    width: 12em;
    height: 12em;
    border-radius: 50em;
}

hr {
    margin-bottom: 1em;
}

#profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 1em;
}

#user-info {
    display: flex;
    flex-flow: column wrap;
}

#user-info div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#user-info div p {
    margin-right: 1em;
}

button {
    align-self: center;
}

button#cancel {
    background-color: brown;
}

#change-settings {
    float: right;
}

#biog {
    margin-bottom: 3em;
    margin-top: 2em;
}

#biog h2 {
    margin-bottom: 0.5em;
}

#biog p {
    margin: 0;
    margin-left: 1.5em;
    line-height: 1.5em;
    line-break: auto;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
}

#settings {
    margin: 15% auto;
    background-color: #fefefe;
    width: 35%;
    padding: 3em;
    border: 1px solid #888;
}

#apply-settings-form {
    margin: 5% 15%;
}

textarea {
    width: 100%;
	height: 100%;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
}